{% extends 'base.html' %}

{% block main %}

<h2> Please sign in </h2>
{% include 'flash_messages.html' %}

<div class="formm">
  
  <form action="url_for('addProfile')" method="POST" enctype="multipart/form-data">
    
    <label for="name" class="">Firstname</label>
    <input type="text" id="name" name="fname" placeholder="Enter Your Firstname" required />
    <br/>
    
    <label for="lname" class=" ">Lastname</label>
    <input type="text" id="lname" name="lname" placeholder="Enter Your Lastname" required/>
    <br/>
    
    <label for="age" class="">Age</label>
    <input type="text" id="age" name="age" placeholder="Enter Your Age" required/>
    <br/>
  
  
    <label for="gender" class="">Gender</label>
    <select>
       <option value="Female">Female</option>
       <option value="Male">Male</option>
    </select>
    <br/>

    
    <label for="user">Username: </label>
    <input type="text" name="user" placeholder="Enter Your Username" required/>
    <br/>
  
    <label for="bio" class="">Biography</label>
    <textarea name="bio" id="bio" placeholder="Enter Your Biography" required/> </textarea>
    <br/>
  
    <label for="file">Image</label>
    <input type="file" name="file" placeholder="Enter Your Profile Image" required/>
    <br/>
    
    <button class=" " type="submit">Submit</button>
    </form>
  </div>

{% endblock %}
